html, body, #header, #footer {
	background-color: #454545;
}

#header, #footer {
	color: white;
}
#header {
	z-index: 1;
}
#body-content {
	position: relative;
	background-color: #e7e7e7;
	z-index: 2;
	box-shadow: 0px -3px 40px #292929;
}
#footer {
	z-index: 0;
}

@media (min-width: 995px) {
	#header, #footer {
		width: 100%;
	}
	#header {
		position: relative;
		top: 0;
		padding-top: 70px;
	}
	#header + #body-content {
		margin-top: 100%;
	}
	#body-content {
		margin-top: 50px;
		padding-bottom: 2em;
		margin-bottom: 17em;
	}
	#footer {
		position: fixed;
		bottom: 0;
		padding-bottom: 2em;
	}
}

div.navbar .navbar-brand {
	padding: 1px 15px;
}
div.navbar .navbar-brand img#powermann {
	height: 100%;
}

ul.navbar-right {
	height: 50px;
}
ul.navbar-right #language_flag {
	height: 20px;
}

.centered {
	text-align: center;
}
.well {
	background-color: white;
}
.well p:first-child,
.panel-body p:first-child {
	margin-top: 0;
}
.well p:last-child,
.panel-body p:last-child {
	margin-bottom: 0;
}

#fullpage .section h1 {
	margin-bottom: 2em;
}

#fullpage #frontimage {
	background-size: cover;
}

#fullpage #products .product {
	float: left;
	padding: 0 10px;
	margin: 4px 8px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
#fullpage #contacts .contact {
	margin-bottom: 1em;
}
#fullpage #contacts .profileimage {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	background-size: cover;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(204,204,204,1);
	box-shadow: 0px 0px 5px 4px rgba(204,204,204,1);
	margin: 5px;
	margin-right: 2em;
	border: 1px solid gray;
}
#fullpage #contacts .department {
	font-style: italic;
}

/** Product **/
#product .images {
	margin-bottom: 20px;
	padding: 0 2px;
}
#product .images img {
	padding: 2px 0;
}
#product .images a:hover {
	text-decoration: none;
}

/** Product Text **/
#product .body h1,
#product .body h2,
#product .body h3,
#product .body h4,
#product .body h5 {
	margin-top: 2em;
	margin-bottom: 0;
	text-decoration: underline;
}
