{% autoescape false %}
{{ Menu.widget({
	'items': Menu.frontpage()
}) }}
{% endautoescape %}

<div class="container">

    <div class="row">
    
        <div class="col-md-10 col-md-offset-1">
        	<h1>{{ meta.i18n.title }}</h1>

			<div class="well">
				{% autoescape false %}
				{{ this.textile(meta.i18n.body) }}
				{% endautoescape %}
			</div>

        </div>

		<div class="col-md-10 col-md-offset-1">
			{% for img in meta.images %}
			<img src="{{ ImageWidget.thumbnail(img) }}" />
			{% endfor %}
		</div>

    </div>
</div>
