.centered {
	text-align: center;
}
.well {
	background-color: white;
}
.well p:first-child,
.panel-body p:first-child {
	margin-top: 0;
}
.well p:last-child,
.panel-body p:last-child {
	margin-bottom: 0;
}
a.danger:hover {
	color: red;
}


/** Sortable **/
ul.sortable.list {
	background-color: white;
}
