.images,
.medias {
	margin: 1em 0;
	margin-bottom: 20px;
	padding: 0 2px;
}
.images img,
.medias img {
	padding: 2px 0;
}
.images a:hover {
	text-decoration: none;
}
.images img {
	height: 94px;
}

/** Product Text **/
.body h1,
.body h2,
.body h3,
.body h4,
.body h5 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

/** Youtube player **/
iframe {
	display: block;
	margin: 0 auto;
}

/** Variants **/
.variant {
	margin-top: 4em;
}

/** Admin Mode **/
ul.sortable li {
	position: relative;
}
ul.sortable li input[type=checkbox] {
	position: absolute;
	top: 0;
	left: 0;
}
button[type=submit] {
	margin-left: 1em;
}