html, body, footer {
	background-color: #454545;
}
footer {
	color: white;
	z-index: 0;
}

#content-container {
	background-color: #e7e7e7;
}
#content-container {
	position: relative;
	margin-bottom: 1em;
	z-index: 2;
	box-shadow: 0px -3px 40px #292929;
}

@media (min-width: 992px) {
	#content-container {
		padding-bottom: 1em;
		margin-bottom: 20em;
	}
	footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		padding-bottom: 2em;
	}
}

/** Common stuff **/
img {
	max-width: 80%;
}