html, body, footer {
	background-color: #454545;
}
footer {
	color: white;
	z-index: 0;
}

#content-container {
	background-color: #e7e7e7;
	position: relative;
	margin-bottom: 1em;
	padding: 0 2em 1em 2em;
	z-index: 2;
	box-shadow: 0px -3px 40px #292929;
}
html:not(.fp-enabled) #content-container {
	padding-top: 80px;
}

@media (min-width: 992px) {
	#content-container {
		margin-bottom: 20em;
	}
	footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		padding-bottom: 2em;
	}
}

/** Fullpage **/
#fullpage .section h2 {
	margin-bottom: 2em;
}
#fullpage .section:not(:last-child) {
	border-bottom: 1px solid #454545;
}
#fullpage .fp-section.fp-table {
	width: auto;
}

/** Common stuff **/
img {
	max-width: 80%;
}
#content-container small {
	font-size: 50%;
}